name: smssoda 24/7 Runner

on:
  workflow_dispatch:   # manually run
  schedule:
    - cron: "*/5 * * * *"   # প্রতি 5 মিনিটে রান হবে

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          pip install requests beautifulsoup4 phonenumbers python-telegram-bot==13.15

      - name: Run smssoda.py
        run: |
          python smssoda.py
